/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Website Global */

body{
  margin: 0 auto 30px;
  width: auto;
  padding: 0;
  text-align: center;
  background-color: #fff;
  color: #222;
}

a{
  color: #336699:
}

a:hover{
  color:#6699cc;
}

img{
  border: 0;
}

/* Main area of the page */

#main-area{
  padding-bottom:10px; 
  margin:0 auto 30px;
  width: 830px;
  text-align: center;
}

/* Navbar */

.navbar{
  text-align: right;
  padding-top: 28px;
  margin: 0px;
  width: 100%;
}

.navbar ul{
  padding: 0;
  width: 100%  
}


.navbar ul li.date{
  float: left;
  padding: 4px 0px 0 40px;
  color: #999;
}

.navbar li{
  display: inline;
  list-style-type: none;
  padding: 0 10px 0;
  font-size: 12px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

li a{
  text-decoration: none;
}

a.signin{
  color: #18afe0;
  padding-right: 10px;
}

a.signin:hover{
  color: #336699;
}

/* 37 Signals in a box */

div.top-page{
  width: 100%;
  margin: 0px auto;
  padding-top: 50px;
  
}

/* Headliner */
div.headliner{
  width: 1000px;
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
}

/* fonts */

body, p, h1, h2, h3, h4, h5 {
  font-family: 'CrimsonSemibold', 'Times New Roman', Georgia, serif;
  font-style: normal;
  text-align: center;
}

h1{
font-style: normal;
font-weight: 600;
padding-top: 5px;
font-size: 48px;
}

h5{
  font-size:20px;
  padding-top: 30px;
}


h3 a{
 font-size:20px;
 font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
 text-decoration: underline;
 color: #369;
 font-weight: bold;
}

h4{
  margin: 5px 0 10px;
  font-size: 19px;
  color: #cc0000;
  font-size:16px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

p{
  font-size:16px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Three Product Boxes */

.basecamp{
  display: inline-block;
  width: 160px;
  margin-left: -5px;
  margin: 35px 10px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 0 8px #efefef;
  padding: 20px 15px 20px;
  text-decoration: none;
  background: linear-gradient(white, #efefef);
}

.campfire{
  display: inline-block;
  width: 160px;
  margin-left: -5px;
  margin: 35px 10px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 0 8px #efefef;
  padding: 20px 15px 20px;
  text-decoration: none;
  background: linear-gradient(white, #efefef);
}

.highrise{
  display: inline-block;
  width: 160px;
  margin-left: -5px;
  margin: 35px 10px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
  box-shadow: 0 0 8px #efefef;
  padding: 20px 15px 20px;
  text-decoration: none;
  background: linear-gradient(white, #efefef);

}

.basecamp img{

  margin-top: 15px;
  width: 100px;
}

.campfire img{
  margin-top: 15px;
  width: 100px;
}

.highrise img{
  margin-top: 15px;
  width: 100px;
}

div.asterik{
width: 100%;
margin: 0px auto;
padding-top: 0;
}


/* Added elements for the hovering effects in Unit 2 */

.alt-basecamp{
  margin: 10px;
  display: none;
  width: 830px;
  height: 200px;
  top: 70px;
  background-color: white;
  position: absolute;
}

.alt-highrise{
  margin: 10px;
  display: none;
  width: 830px;
  height: 200px;
  top: 70px;
  background-color: white;
  position: absolute;
}

.alt-campfire{
  margin: 10px;
  display: none;
  width: 830px;
  height: 200px;
  top: 70px;
  background-color: white;
  position: absolute;

}

.alt-headliner{
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  margin: 10px 0 15px 0;
  letter-spacing: -1px;
  color: #232323;
  vertical-align: baseline;
}

.description{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 15px;
  font-style: normal;
  margin-top: 20px;
  font-weight: 550;
  color: #232323;
  vertical-align: baseline;
}

.alt-product{
  color: #336699;
  text-decoration: underline;
  font-weight: bold;
}

.leftarrow {
  position: absolute;
  display: none;
  left: 140px;
  top:-30px;
}

.rightarrow {
  position: absolute;
  display: none;
  left: -12px;
  top:-30px;
}

