
/* Bootstrapping */

@import "../stylng/bootstrap.css";
@import "../styling/bootstrap.min.css";

/* Background Color Plans:

if "colder" darker blue background-color: #123EAB;
if "cold" blue background-color: #3F92D2
if "warmer" orange background - color: ;
if "correct" red background-color: #F60018;

*/


/* Main Area of the Page with it's own background */

#style{
	background-image: url(background-image: url(http://subtlepatterns.com/patterns/ricepaper.png);
}

#main-area{
  text-align: center;
}


/* game area where the colors will be changing */

#gamebox{
  margin: 0 auto;
  margin-top: 360px;
  text-align: center;
  float: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background: linear-gradient(#FFFFFF, #EFECC9);
}


/* buttons */

.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

}

/* The message based on the user input will change from Javascript */

#comment{
	font-size: 32px;
	margin-bottom: 40px;

}

