/* Background Color Plans:

if "colder" darker blue background-color: #123EAB;
if "cold" blue background-color: #3F92D2
if "warmer" orange background - color: ;
if "correct" red background-color: #F60018;

*/


/* Main Area of the Page with it's own background */

#style{
	background-image: url(background-image: url(http://subtlepatterns.com/patterns/ricepaper.png);
}

#main-area{
  display: center;
}


/* game area where the colors will be changing */

#gamebox{
  margin: 0 auto;
  margin-top: 360px;
  display: center;
  float: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  background: linear-gradient(#FFFFFF, #EFECC9);
}


/* buttons */

.input{
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

/* The message based on the user input will change from Javascript */

#comment{
	font-size: 32px;
	margin-bottom: 40px;

}

