@import "bootstrap.css";
@import "bootstrap.min.css";

@import url(http://fonts.googleapis.com/css?family=Hanalei+Fill);
/* Background Color Plans:

if "colder" darker blue background-color: #123EAB;
if "cold" blue background-color: #3F92D2
if "warmer" orange background -color: # ;
if "correct" red background-color: #F60018;

*/


body {
	background-color: #F5D781;
}

#main-area{
  float: center;
  margin: 0 auto;
}


.introduction{
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.instruction{
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-top: 80px;
  font-family: 'Hanalei Fill', cursive;
}


/* game area where the colors will be changing */

#gamebox{
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 400px;
}


.userguess{
  float: center;
  width: 100px;
  margin: 0 auto;
  padding-top: 20px;
}

/* buttons */

.btn{
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 160px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}





/* The message based on the user input will change from Javascript */

#comment{
	font-size: 32px;
	margin-bottom: 40px;

}

.response{
  font-size: 20px;
  margin: 0 auto;
  padding-top: 15px;

}

